.amount {
  font-size: 1.6rem;
  width: 12rem;
  color: var(--color-textInWhite);
}

.amt {
  font-weight: bold;
}

.desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input {
  width: 4rem;
  background-color: var(--color-quantity);
  font: inherit;
  color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 0;
  padding-left: 0.5rem;
}
.input:focus {
  background-color: var(--color-quantity-focus);
}
