.modal {
  font-size: 1.6rem;
  color: var(--color-textInWhite);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.total {
  margin: 1.5rem 0rem;
  display: flex;
  justify-content: space-between;
}

.totalAmt {
  font-size: 2rem;
  font-weight: bold;
}

.btnTotal {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}

.form {
  margin-bottom: 2rem;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  padding-left: 1rem;
  font: inherit;
  width: 50vw;
  height: 3rem;
  margin-bottom: 0.5rem;
  border: solid 0.05rem var(--color-textInWhite);
  border-radius: 0.5rem;
  /* margin-bottom: 1.2rem; */
}

.invalid {
  background-color: #fc000067;
  border: 2px solid red;
}

.form label {
  margin-bottom: 1rem;
  font-weight: bold;
}

.inValid {
  color: red;
  font-size: 1.2rem;
}

.order-closed {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: right;
}

.order-closed p {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.5px solid var(--color-textInWhite);
}

.order-closed span {
  font-weight: bold;
}

.order-closed button {
  padding: 1rem 3rem;
  /* justify-self: right; */
  align-self: flex-end;
}

@media screen and (min-width: 1200px) {
  .order-closed {
    width: 35vw;
  }
}
