.header {
  background: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
  padding: 1.5rem;
}

.heading {
  font-size: 3rem;
}
