* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --color-primary: rgb(17, 159, 202);
  --color-secondary: rgb(7, 89, 114);
  --color-btn-hover: rgb(11, 179, 230);
  --color-btn-active: rgb(45, 167, 204);
  --color-white: rgb(240, 254, 255);
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px; /*remove later*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
